html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


body {
    background-color: #f8f9fa;
}

h1, h2, h3 {
    font-weight: bold;
}

.hero-text {
    background: linear-gradient(90deg, #00BFFF, #B0E0E6, #1E90FF);
    color: white;
    padding: 50px 0;
    text-align: center;
}

.product-card {
    transition: transform 0.2s ease-in-out;
}

    .product-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    }

.carousel {
    width: 100%;
    max-width: 2110px;
    height: 700px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: solid 5px black;
}

.slides {
    display: flex;
    width: 500%; /* 5 imagens */
    animation: slideAnimation 10s infinite;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: solid 5px #080808;
    }

@keyframes slideAnimation {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}

